.login-popup{
position: absolute;
z-index:1;
width:100%;
height:100%;
background-color: #00000090;
display:grid;
}
.login-popup-container{
    place-self:center;
    width: max(23vw,330px);
    color: #808880;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    gap:15px;
    padding: 25px 35px;
    font-size: 14px;
    border-radius: 20px;
    animation:fadeIn .5s;
}
.Login-popup-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:tomato;
}
.Login-popup-title h2{
font-size: 36px;
font-weight:600;
}
.Login-popup-title img{
    position: relative; 
    top: -5px; 
    right: -5px;
    width: 24px; 
    height: 24px; 
    cursor: pointer; 
    z-index: 1000;
    
}
.login-popup-input{
    display:flex;
    flex-direction: column;
    gap:15px;
    font-size: 14px;
 }
 .login-popup-input label{
    font-size: 18px;
    font-weight: 700;
    color:#727d72;
 }
 .login-popup-input input{
    outline:none;
    border: 1px solid #c9c9c9;
    width:18vw;
    height: 2vw;
    padding:5px;
    border-radius: 5px;
 }
 .login-popup-container button{
    border:none;
    padding:10px;
    border-radius: 4px;
    color:white;
    background-color: tomato;
    width:70%;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top:5px;
   margin-bottom:5px;
   font-size:15px;
   cursor: pointer;
 }
 .login-popup-container button:hover{
    color: tomato;
    background-color:whitesmoke;
    border:1px solid #727d72;
 }
 .login-popup-conditions {
    display:flex;
    align-items: start;
    gap:8px;
    margin-top: 5px;
 }
 .login-popup p span{
   color:tomato;
   font-weight: 600;
   cursor:pointer;
 }