.navbar-logo{
    width: max(10%,100px);
    height:150px;
    cursor:pointer;
}
.navbar-adminPic{
    width: 100px;
    height:80px;
    cursor:pointer;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 4%;
}
.admin-heading{
    display:flex;
    text-align: center;
    font-size:30px;
    font-weight:600;
    color:rgb(153, 46, 27);
}
@media(max-width:650px){
    .admin-heading{
        font-size:20px;
        font-weight:700;
    }
}
@media(max-width:510px){
    .admin-heading{
        font-size:15px;
        font-weight:700;
    }
}
@media(max-width:440px){
    .admin-heading{
        font-size:13px;
        font-weight:700;
    }
}